
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-selecteur-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-lien-form {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.contact-selecteur-form a {
    border-radius: 4px;
    font-family: "Montserrat";
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    background-color: #01295F;
    color: white;
    transition: all 0.4s ease;
}

.contact-selecteur-form a:hover{
    color: black;
    background-color: #FFB30F;
}



.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-content h2 {
  text-align: center;
  width: 98%;
}

.contact-content-p {
  font-size: 30px;
  font-family: "Montserrat";
  margin-bottom: 50px;
  font-weight: 500;
  color: #262626;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px #012a5fdc;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}





.contact-cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-cards h2 {
    text-align: center;
}

.contact-cards img {
    width: 50px;
    margin-bottom: 40px;
}

.contact-cards p {
    font-family: "Montserrat";
    font-size: 20px;
    padding: 5px;
}

.cards {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #26262625;
    box-shadow: 0px 0px 2px #012a5fdc;
}

.cards p {
    text-align: center;
}

.cards a {
    font-family: "Montserrat";
    text-decoration: none;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: #01295F;
    color: white;
    transition: all 0.4s ease;
    border-radius: 4px;
    text-align: center;
}



.cards a:hover{
    color: black;
    background-color: #FFB30F;
}



.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.form-contact h2 {
  width: 98%;
  text-align: center;
}



form {
    width: 50%;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

label {
    font-size: 20px;
}


form div, label {
    margin-top: 20px;
    font-family: "Montserrat";
}

.submit {
    margin-top: 20px;
}





.contact-selecteur-form-h2 {
    margin-top: 170px;
    width: 98%;
    text-align: center;
}

.contact-selecteur-form-h2, .form-contact-h2 {
    scroll-margin-top: 170px;
}

@media only screen and (max-width: 480px) {

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-selecteur-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .contact-lien-form {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }


    .contact-selecteur-form a {
        border-radius: 4px;
        font-family: "Montserrat";
        text-decoration: none;
        text-align: center;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        background-color: #01295F;
        color: white;
        transition: all 0.4s ease;
    }

    .contact-selecteur-form a:hover{
        color: black;
        background-color: #FFB30F;
    }






    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-content h2 {
        text-align: center;
        width: 95%;
    }

    .contact-content-p {
        text-align: center;
        font-size: 24px;
        font-family: "Montserrat";
        font-weight: 500;
        color: #262626;
        background-color: whitesmoke;
        box-shadow: 0px 0px 2px #012a5fdc;
        border-radius: 4px;
        margin: 10px;
        margin-bottom: 30px;
    }





    .contact-cards {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .contact-cards h2 {
        text-align: center;
    }

    .contact-cards img {
        width: 50px;
        margin-bottom: 20px;
    }

    .contact-cards p {
        font-family: "Montserrat";
        font-size: 18px;
        padding: 5px;
    }

    .cards {
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px #012a5fdc;
        border: 1px solid #26262625;
        background-color: whitesmoke;
    }

    .cards p {
        text-align: center;
    }

    .cards a {
        font-family: "Montserrat";
        text-decoration: none;
        width: 50%;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        background-color: #01295F;
        color: white;
        transition: all 0.4s ease;
        border-radius: 4px;
        text-align: center;
    }



    .cards a:hover{
        color: black;
        background-color: #FFB30F;
    }



    .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    }

    .form-contact h2 {
    width: 95%;
    text-align: center;
    }

    .contact-cards .cards a{
        margin-top: 10px;
        width: 90%;
    }


    form {
        width: 90%;
        box-shadow: 0px 0px 2px #012a5fdc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    label {
        font-size: 20px;
    }


    form div, label {
        margin-top: 20px;
        font-family: "Montserrat";
    }

    .submit {
        margin-top: 20px;
    }


    .contact-selecteur-form-h2 {
        margin-top: 130px;
        width: 95%;
        text-align: center;
    }

    .contact-selecteur-form-h2, .form-contact-h2 {
        scroll-margin-top: 170px;
    }
}