* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.school-presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.school-presentation h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-presentation-content-img {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.school-presentation-content-img img {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
}

.school-presentation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.school-presentation-content-text {
    width: 50%;
}  

.school-presentation-content-text p {
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 20px;
}  


.school-presentation-content, .school-registration-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.school-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.school-news h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-news-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.school-news-content-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.school-news-content-text h3 {
    width: 100%;
}

.school-news-content-text p {
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-size: 20px;
    text-align: justify;
}

.school-news-orchestra-text-img {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.school-news-orchestra-text-img img {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
}

.school-timetable {
    width: 100%;
    display: flex;
}

.school-timetable h3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 24px;

}

.school-timetable h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.school-timetable-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.school-timetable-content p {
    width: 100%;
    color: #262626;
    font-weight: normal;
}



.school-timetable, .school-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.school-registration {
    width: 100%;
    display: flex;
}

.school-registration h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-registration-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.school-registration-content-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.school-registration-content-form h3 {
    font-size: 22px;
    padding: 5px;
}

.school-registration-content-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.school-presentation-h2 {
    margin-top: 170px
}

.school-presentation-h2, .school-news-h2, .school-timetable-h2, .school-registration-h2 {
    scroll-margin-top: 170px;
}





.school-registration-content-informations {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.school-registration-content-informations h3 {
    font-size: 24px;
}

.school-registration-content-informations h4 {
    font-size: 20px;
    padding: 5px;
}

.school-registration-content-informations ul {
    padding-left: 25px;
    font-size: 18px;
    color: #262626;
    font-weight: normal;
}

.school-registration-content-informations a {
    text-decoration: none;
    color: #262626;
    transform: all 0.7s ease;
}


form {
    box-shadow: 0px 0px 2px #012a5fdc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    font-size: 20px;
}

form div, label {
    margin-top: 20px;
    font-family: "Montserrat";
}


.form-radio-insription {
    text-align: start;
}

.submit {
    margin-top: 20px;
    font-size: 20px;
}

.school-registration-content-informations a:hover {
    font-weight: bold;
}





@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .school-presentation h2 {
        width: 95%;
    }

    .school-presentation-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .school-presentation-content p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    .school-presentation-content-text {
        width: 90%;
    } 

    .school-presentation-content-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .school-presentation-content-img img {
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 30px #262626;
        border-radius: 4px;
    }




    .school-news h2 {
        width: 95%;
    }

    .school-news-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .school-news-content-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .school-news-content-text h3 {
        width: 100%;
    }

    .school-news-content-text p {
        margin-bottom: 20px;
        font-family: "Montserrat";
        font-size: 20px;
        text-align: justify;
    }

    .school-news-orchestra-text-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .school-news-orchestra-text-img img {
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 30px #262626;
        border-radius: 4px;
    }




    label {
        font-size: 18px;
    }



    .school-timetable h2 {
        width: 95%;
    }


    .school-timetable-content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }



    .school-timetable h3 {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 18px;

    }











    

    .school-registration {
        width: 100%;
        display: flex;
    }

    .school-registration h2 {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .school-registration-content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }

    .school-registration-content-form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .school-registration-content-form h3 {
        font-size: 19px;
        padding: 5px;
    }

    .school-registration-content-form form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }




    
    .school-registration-content-informations {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }

    .school-registration-content-informations h3 {
        font-size: 20px;
    }

    .school-registration-content-informations h4 {
        font-size: 18px;
        padding: 5px;
    }

    .school-registration-content-informations ul {
        padding-left: 25px;
        font-size: 16px;
        color: #262626;
        font-weight: normal;
    }

    .school-registration-content-informations a {
        text-decoration: none;
        color: #262626;
        transform: all 0.7s ease;
    }





    .school-presentation-h2 {
        margin-top: 130px
    }

    .school-presentation-h2, .school-news-h2, .school-timetable-h2, .school-registration-h2 {
        scroll-margin-top: 170px;
    }
}