html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { 	
    font-family: "Montserrat"; 	
    src: url("ressources/font/Montserrat/Montserrat-VariableFont_wght.ttf"); 
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    z-index: 10;
    position: fixed;
}

.label-burger, #toggle {
    display: none;
}

.header-navbar {
    width: 100%;
    display: flex;
}

.header-buttons-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
    gap: 5px;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: bold;
}

.header-buttons-list li {
    width: 19%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.header-buttons-list img {
    width: 75%;
    display: flex;
}

.header-buttons-list a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header-logo a {
    width: 300px;
}


.dropdown-menu {
    width: 16.5%;
    display: none;
    position: absolute;
    z-index: 1;
    top: 120px;
    background-color: #36b6ff;    
    font-size: 16px;
    font-family: "Montserrat";
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 11px 15px;
    color: white;
}

.header-buttons-list .header-button a:hover {
    background-color: #36b6ff;
}

.dropdown-accueil:hover .dropdown-menu, .header-sous-button {
    display: block;
    background-color: #01295f;
}

.dropdown-ecole:hover .dropdown-menu {
    display: block;
}

.dropdown-instruments:hover .dropdown-menu {
    display: block;
}

.header-social {
    display: none;
}


@media only screen and (max-width: 1024px) {
    
    .header-buttons-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-bottom: 0px;
        gap: 5px;
        font-size: 22px;
        font-family: "Montserrat";
        font-weight: bold;
    }

    .header-buttons-list a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face { 	
        font-family: "Montserrat"; 	
        src: url("ressources/font/Montserrat/Montserrat-VariableFont_wght.ttf"); 
    }


    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }


    nav .header-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
    }

    nav .header-button a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        text-decoration: none;
        background-color: whitesmoke;
    }

    nav {
        height: 60px;
    }

    nav .header-buttons-list {
        display: none;
        flex-direction: column;
        color: white;
        background-color: #01295f;
    }

    .label-burger {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        color: white;
        top: 0;
        z-index: 999;
        background-color: #01295f;
        padding: 5px;
        margin-top: 0;
    }


    .header-navbar {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .header-buttons-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-family: "Montserrat";
        font-weight: bold;
        margin-top: 70px;
        padding-top: 50px;
    }

    #toggle:checked + .header-buttons-list {
        display: flex;
    }

    .header-buttons-list li {
        width: 90%;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .header-buttons-list .header-logo img {
        display: none;
    }

    .header-buttons-list img {
        display: flex;
    }

    .header-buttons-list a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #262626;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #262626;
    }

    .header-social {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header-buttons-list .header-social a {
        display: flex;
        width: 100px;
        background-color: #01295f;
        box-shadow: 0px 0px 0px;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu li {
        display: none;
    }

    .dropdown-menu a {
        display: none;
    }

    .header-buttons-list .header-button a:hover {
        background-color: #36b6ff;
        color: whitesmoke;
    }
}


@media only screen and (min-width: 481px) {
    
    header {
        background-color: #01295f;
    }
}