/*debut du code accueil*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* SLIDE 1 */

.slide-1 {
    margin-top: 120px; /*margin top 120 correspond à l'épaisseur du header*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide-1-image-principale {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 80%;
}

.slide-1-image-secondaire {
    display: none;     
}

.slide-1-image-trois {
    display: none;    
}

.slide-1-image-quatre {
    display: none; 
}

.slide-1-image-principale img {
    width: 100%;
    object-fit: cover;
    display: flex;
}

.slide-1-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
}

.slide-1-content h1 {
    position: relative;
    top: -7%;
    font-family: "Montserrat";
    color: white;
    font-size: 70px;
    text-align: center;
}

.slide-1-content p {
    position: relative;
    top: -5%;
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.slide-1-text-bleu, .slide-1-text-bleu a {
    color: #38B6FF;
    text-decoration: none;
}

.slide-1-text-jaune a {
    color: #FFB30F;
    text-decoration: none;
    font-size: 40px;
}

.slide-1-socialmedia {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 10%;
    opacity: 80%;
}

.slide-1-socialmedia img {
    width: 50px;
    display: flex;
}

.slide-1-content .rejoingnez-les-reseaux {
    top: 15%;
}

.slide-1:hover .slide-1-content {
    background-color: rgba(128, 128, 128, 0.651);
    backdrop-filter: blur(5px);
}



/* SLIDE 2 */

.slide-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-2-stage-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-2-stage-content h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-2-stage-content ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

.slide-2-stage-content li {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px #262626;
}

.slide-2-stage-content a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #01295F;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.4s ease;
}

.slide-2-stage-content img {
    width: 350px;
    height: 495px;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cards {
    display: flex;
    border-radius: 8px;
}

.cards a:hover{
    color: black;
    background-color: #FFB30F;
}

.slide-2-stage-content li:hover a{
    color: black;
    background-color: #FFB30F;
} 

/* SLIDE 3 */

.slide-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-3 h2 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-3-orchestra-presentation-content {
    width: 90%;
    display: flex;
}




.slide-3-orchestra-presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px #262626;
    border-radius: 4px;
}

.slide-3-orchestra-presentation-text p {
    width: 90%;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 35px;
    font-family: "Montserrat";
    font-weight: 500;
}

.slide-3-orchestra-presentation-text-bureau p{
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.slide-3-orchestra-presentation-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 40px;
}

.slide-3-orchestra-presentation-img img {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
}



.slide-3-bleu-iso {
    text-align: center;
    color: #01295F;
    font-weight: bold;
}



.slide-3-musicians {
    width: 90%;
    display: flex;
}

.slide-3-musicians-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 70px;
    margin-right: 30px;
}

.slide-3-musicians-images img {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
}





.slide-3-musicians-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
}

.slide-3-musicians-text p {
    display: flex;
    color: #262626;
    padding: 10px;
    text-align: justify;
    font-weight: 500;
}

.slide-3-musicians-text-effectif, h3 {
    font-family: "Montserrat";
    font-size: 20px;
}

.slide-3-musicians-text-h3 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    background-color: #012a5fdc;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #01295F;
}





h2 {
    font-family: 'Montserrat';
    background-color: #012a5fdc;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #01295F;
}

h3 {
    color: #012a5fdc;
    font-weight: bold;
    margin: 15px;
    padding-top: 5px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #012a5fdc;
}






.slide-2-h2-1, .slide-2-h2-2, .slide-3-h2-1, .slide-3-h2-2 {
    scroll-margin-top: 170px;
}




@media only screen and (max-width: 1024px) {


    .slide-1-content h1 {
        position: relative;
        top: -7%;
        font-family: "Montserrat";
        color: white;
        font-size: 40px;
        text-align: center;
    }

    .slide-1-content p {
        position: relative;
        top: -5%;
        font-family: "Montserrat";
        color: white;
        font-size: 30px;
        margin: 10px;
        font-weight: bold;
        text-align: center;
    }

    .slide-1-text-bleu, .slide-1-text-bleu a {
        color: #38B6FF;
        text-decoration: none;
    }

    .slide-1-text-jaune a {
        color: #FFB30F;
        text-decoration: none;
        font-size: 30px;
    }    

    .slide-1-image-principale {
        width: 100%;
        display: none;
        justify-content: center;
        opacity: 80%;
    }

    .slide-1-image-secondaire {
        width: 100%;
        display: none;
        justify-content: center;
        opacity: 80%;        
    }

    .slide-1-image-trois {
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 80%;        
    }

    .slide-1-image-trois img {
        width: 100%;
        display: flex;
        object-fit: cover;
    }

    .slide-1-image-quatre {
        display: none; 
    }

    .slide-3-orchestra-presentation-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    .slide-3-orchestra-presentation-img {
        width: 100%;
        margin: 0;
    }

    .slide-3-musicians-images {
        display: none;
    }

    .cards {
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 480px) {
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #DADAD9;
    }

    /* SLIDE 1 */

    .slide-1 {
        margin-top: 90px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .slide-1-image-principale {
        display: none;
    }

    .slide-1-image-secondaire {
        display: none;
    }

    .slide-1-image-trois {
        display: none;    
    }

    .slide-1-image-quatre {
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 80%;
        object-fit: cover; 
    }

    .slide-1-image-quatre img {
        width: 100%;
        display: flex;
    }

    .slide-1-content {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(128, 128, 128, 0.651);
        backdrop-filter: blur(1px);
    }

    .slide-1-content h1 {
        position: relative;
        top: -7%;
        font-family: "Montserrat";
        color: white;
        font-size: 35px;
        text-align: center;
    }

    .slide-1-content p {
        position: relative;
        top: -5%;
        font-family: "Montserrat";
        color: white;
        font-size: 18px;
        margin: 10px;
        font-weight: bold;
        text-align: center;
    }

    .slide-1-text-bleu, .slide-1-text-bleu a {
        color: #38B6FF;
        text-decoration: none;
    }

    .slide-1-text-jaune a {
        color: #FFB30F;
        text-decoration: none;
        font-size: 25px;
    }

    .slide-1-socialmedia {
        display: flex;
        flex-direction: row;
        gap: 40px;
        position: relative;
        top: 10%;
    }

    .slide-1-socialmedia img {
        width: 50px;
        display: flex;
    }

    .slide-1-content .rejoingnez-les-reseaux {
        top: 15%;
    }


    /* SLIDE 2 */

    .slide-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-2-stage-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-2-stage-content h2 {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-2-stage-content ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap
    }

    .slide-2-stage-content li {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        box-shadow: 0px 0px 10px #262626;
    }

    .slide-2-stage-content a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 22px;
        background-color: #01295F;
        color: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: all 0.4s ease;
    }

    .slide-2-stage-content img {
        width: 280px;
        height: 396px;
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .cards {
        display: flex;
        border-radius: 8px;
    }


    /* SLIDE 3 */

    .slide-3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-3 h2 {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-3-orchestra-presentation-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-3-orchestra-presentation-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px #262626;
        border-radius: 4px;
        text-align: center;
    }

    .slide-3-orchestra-presentation-text p {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 35px;
        font-family: "Montserrat";
        font-weight: 500;
    }

    .slide-3-orchestra-presentation-img {
        display: none;
    }

    .slide-3-musicians {
        width: 90%;
        display: flex;
    }

    .slide-3-musicians-images {
        display: none;
    }

    .slide-3-musicians-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0px 0px 30px #262626;
        border-radius: 4px;
    }

    .slide-3-musicians-text p {
        display: flex;
        color: #262626;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .slide-3-orchestra-presentation-text-bureau p{
        width: 100%;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .slide-3-bleu-iso {
        text-align: center;
        color: #01295F;
        font-weight: bold;
    }

    .slide-3-musicians-text-effectif, h3 {
        font-family: "Montserrat";
        font-size: 20px;
    }

    .slide-3-musicians-text-h3 {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
        background-color: #012a5fdc;
        color: white;
        font-size: 30px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px #01295F;
    }

    .cards a:hover{
        color: black;
        background-color: #FFB30F;
    } 

    h2 {
        font-family: 'Montserrat';
        background-color: #012a5fdc;
        color: white;
        font-size: 30px;
        padding: 10px;
        margin: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px #01295F;
    }

    h3 {
        color: #012a5fdc;
        font-weight: bold;
        margin: 15px;
        padding-top: 5px;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 4px;
        box-shadow: 0px 0px 2px #012a5fdc;
    }

    .slide-2-h2-1 {
        margin-top: 50px;
    }

    .slide-2-h2-1, .slide-2-h2-2, .slide-3-h2-1, .slide-3-h2-2 {
        scroll-margin-top: 170px;
    }
}


@media only screen and (max-width: 320px) {

    .slide-1-image-principale {
        display: none;
    }

    .slide-1-image-secondaire {
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 80%;
        object-fit: cover;        
    }

    .slide-1-image-trois {
        display: none;    
    }

    .slide-1-image-quatre {
        display: none; 
    }

    .slide-1-image-secondaire img {
        width: 100%;
        display: flex;
    }
}