* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 95%;
}

section.instruments {
    width: 70%;
    display: flex;
    justify-content: center;
}

section.instruments ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.instruments li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 30px;
    border-radius: 5px;
}

section.instruments label {
    cursor: pointer; 
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 1px;
    background-color: #01295f;
    color: whitesmoke;
    border-radius: 5px;
    transition: all 0.2s ease;
}

section iframe {
    width: 1020px;
    height: 600px;
    margin: auto;
    display: flex;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 50px;
    border-radius: 10px;
}

section iframe {
    display: none;
}

:checked+iframe {
    display: flex;
    width: 95%;
}

.checkbox {
    display: none;
}

section.instruments label:hover {
    background-color: #FFB30F;
    color: #01295F;
    font-weight: bold;
}




section.equipe-pedagogique {
    width: 80%;
    display: flex;
    justify-content: center
}


.equipe-pedagogique-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 30px #262626;
    border-radius: 4px;
    margin-bottom: 50px;
}

.equipe-pedagogique-text p {
    display: flex;
    color: #262626;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

.equipe-pedagogique-text h3 {
    text-align: center;
}
#instruments {
    margin-top: 170px;
}

#instruments, #equipe-pedago{
    scroll-margin-top: 170px;
}

    

@media only screen and (max-width: 1024px) {
    section iframe {
        width: 95%;
    }

    section.instruments {
        width: 85%;
        display: flex;
        justify-content: center;
    }



    section.equipe-pedagogique {
        width: 95%;
        display: flex;
        justify-content: center
    }


    .equipe-pedagogique-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0px 0px 30px #262626;
        border-radius: 4px;
    }

    .equipe-pedagogique-text p {
        display: flex;
        color: #262626;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
    }
}




@media only screen and (max-width: 480px) {
    section iframe {
        width: 95%;
    }

    section.instruments {
        width: 85%;
        display: flex;
        justify-content: center;
    }

    section.equipe-pedagogique {
        width: 95%;
        display: flex;
        justify-content: center
    }


    .equipe-pedagogique-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0px 0px 30px #262626;
        border-radius: 4px;
    }

    .equipe-pedagogique-text p {
        display: flex;
        color: #262626;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
    }
}

